/* SC 1.4 Feb 2021 by Sam Chun */

/* normalize CSS (TODO)*/
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}




/* STYLESHEET */

/* Navbar Styles */
.sc-Navbar{position:fixed; top:0px; z-index:1; width:100%; padding:0% 10%; overflow:hidden;}
.sc-Navbar-left{position:absolute;}
.sc-Navbar-left-mobile{display:none;} .sc-Navbar-mobile-stack-button{border:none; outline:none; position:absolute; padding:32px 30px}
.sc-Navbar .sc-Navbar-elem{padding:55px 26px; width:auto; float:left;}
.sc-Navbar .sc-Navbar-logo{padding:5px 16px;}

/* Content Styles */
main{font-family:"Lato", sans-serif; overflow:hidden;}
.sc-website-minwrap{min-height:100vh;}
.sc-content{margin-top:129px; margin-left:auto; margin-right:auto;} .sc-content-minwrap{min-height:calc(100vh - 303px);}
.sc-banner, .sc-pricing-and-avail{position:relative; width:100%;}
.sc-banner{padding:50px 16px 60px;} .sc-pricing-and-avail{max-width:990px; padding:3em 16px; margin-left:auto; margin-right:auto;}
.sc-intro, .sc-scroller, .sc-team{padding:0% 20%; line-height:1.6;} .sc-intro, .sc-team{margin-top:30px;} .sc-scroller{margin-bottom:30px; min-height:calc((3/9)*(60vw+60px));}
.sc-three-pictures, .sc-split-one-third{width:33.3%; float:left;} .sc-split-two-third{width:66.7%; float:left; padding:25px 20px;}
.sc-three-pictures-space{width:31.3%;}
.sc-split-one-third{border-right: 1px solid #c0c0c0; padding:45px 30px; line-height:22px;}
.sc-three-pictures-text-container{padding:40px 24px 25px;}
.sc-best-value{margin:-40px -24px 0px -24px; background-color:#d83030; padding:5px; font-size:15px; height:25px;}
.sc-split-sections, .sc-price-options{display:block;}
.sc-split-top-tablet, .sc-split-one-third-tablet, .sc-split-two-third-lphone, .sc-price-options-phone, .sc-split-sections-sphone, 
.sc-split-sections-sphone-bottom, .sc-mobile-stack-button{display:none;}

/* Modal Styles */
.sc-modal{z-index:2; display:none; position:fixed; left:0; top:0; width:100%; height:100%; background-color:rgba(0,0,0,0.35)}
.sc-modal-content{background-color:#fff; position:relative;}
.sc-modal-text{padding:20px 18px 10px 18px;}
.sc-x-button{position:absolute; right:0; top:0; padding:10px 18px; cursor:pointer;} .sc-x-button:hover{color:black; background-color:#cecece;}

/* Pricing and Profiles Styles */
.sc-pricing-starter, .sc-profiles-starter{margin:30px 0px 0px; margin-top:30px;} .sc-pricing-starter{padding:0% 15%;} .sc-profiles-starter{padding:0% 18%;}
.sc-pricing-elem{padding:8px 30px;}
.sc-pricing-completed-elem{padding:5px 10px;}
.sc-pricing-completed-info-button{padding:10px 22px; border-radius:17px; border:1px solid rgb(190, 190, 190); outline:none; font-size:14px; letter-spacing:1px; 
    font-weight:700; color:rgb(173, 173, 173)}
.sc-pricing-completed-info-button:hover{background-color:#ececec}
.sc-pricing-completed-info-button-container{padding:18px 0px 25px;}
.sc-pricing-referral{margin:8px 30px 16px;}
.sc-pricing-split-checkout-display{width:calc(100% - 110px); float:left; font-size:22px;} .sc-pricing-split-checkout-price{width:110px; float:left; font-size:17px;}
.sc-profiles-tutor-wrapper{min-height:220px;}
.sc-profiles-pic-right{margin-left:25px; margin-bottom:20px; margin-right:-20px; float:right; width:200px; height:200px;}
.sc-profiles-pic-left{margin-left:-20px; margin-bottom:20px; margin-right:25px; float:left; width:200px; height:200px;}

/* Checkout Complete Styles */
.sc-purchase-complete{padding:100px 20px 20px;}
.sc-purchase-thankyou{line-height:22px; padding-top:60px; padding-bottom:30px;}
.sc-purchase-complete-button{font-weight:750; color:rgb(220, 220, 220); background:rgb(43, 173, 130); border:none; padding:15px 90px; outline:none; display:inline-block; margin-top:50px;}
.sc-purchase-complete-button:hover{color:white; background-color:rgb(219, 219, 219);}

/* Footer Styles */
.sc-footer{margin:30px 0px 0px; font-family:verdana; padding:0% 10% 30px;}
.sc-footerline{padding:17px 17px 17px; border-top:1px solid rgb(190, 190, 190);}

/* Layout Styles */
.sc-row{margin-left:0px; margin-right:0px;}
.sc-row:before, .sc-row:after, .sc-column:before, .sc-column:after{content:""; display:table; clear:both}
.sc-ul{list-style-type:none; border:none; padding:0; margin:0px 20px;}
.sc-ul li{padding:12px 20px 8px 25px;}
.sc-ul2{border:none; padding:0; margin:20px 0px 0px 16px; line-height:22px;}
.sc-ul2 li{margin-top:5px;}
/*TODO*/
.sc-form{transition:all 0.2s ease-out; border:1px solid; border-color:#d9d9d9; padding:6px 10px; border-radius:4px;}
.sc-select{transition:all 0.2s ease-out; padding:6px 12px; border:1px solid; border-color:#d9d9d9; border-radius: 4px;}
.sc-form:focus, .sc-select:focus{border:2px solid #007dbb; outline:none;}
.sc-radio{}
.sc-checkbox{margin:0px 10px 12px 2px;}

/* Picture Styles */
.sc-pic-stack-button{width:32px; height:30px;}
.sc-pic-logo{max-width:170px; height:115px;}
.sc-pic-ratings{width:100%; height:auto;}
.sc-pic-uni-logo{border-radius:4px; margin-bottom:16px;} 
.sc-pic-columbia-uni-logo{width:100%;} .sc-pic-harvard-uni-logo{width:86%; margin-left:2%;} .sc-pic-artcenter-uni-logo{width:83%; margin-left:7%;}
.sc-pic-review{width:100%;}
.sc-pic-vector{width:80%;}
.sc-pic-team{margin-left:45px; margin-bottom:45px; margin-right:-5.8vw; float:right; width:400px;}
.sc-pic-comparison{width:75%;}
.sc-pic-stripe{width:43px; vertical-align:bottom;}
.sc-pic-checkmark{width:80px;}

/* Button Styles */
a.sc-button-act:link, a.sc-button-act:visited, a.sc-button-team:link, a.sc-button-team:visited, .sc-button-act{font-weight:750; color:rgb(220, 220, 220); background:#005475;  border:none; 
    padding:0 2em; display:inline-block; outline:none;}
a.sc-button-act:link, a.sc-button-act:visited, .sc-button-act{font-family:"Retina Medium", sans-serif; width:100%; height:42px; line-height:42px; font-size:13px;
    text-shadow:0px 0px 2px rgba(220, 220, 220, 0.7);}
a.sc-button-act:hover, a.sc-button-team:hover, .sc-button-act:hover{background:#8d8d8d; opacity:60%;}
a.sc-button-team:link, a.sc-button-team:visited{font-family:"proxima-nova","Helvetica Neue",Helvetica,sans-serif; width:175px; height:45px; line-height:45px; font-size:12px; letter-spacing:1px;}
.sc-button-modal{border:1px solid rgb(190, 190, 190); outline:none; padding:4px 10px; border-radius:3px;} .sc-button-modal:hover{background:rgb(219, 219, 219);}
.sc-button-pricing-checkout{padding:12px 30px 20px; width:100%; text-align:left; display:block; border:none; outline:none;}
.sc-button-individual-modal{padding:15px 90px; display:inline-block; border:none; outline:none; font-weight:750; color:rgb(220, 220, 220); background:rgb(43, 173, 130); margin-top:30px; margin-bottom:20px;}
.sc-button-individual-modal:hover{color:white; background-color:rgb(219, 219, 219);}
.sc-button-submit-margin{margin-left:25px; margin-right:25px;}

/* Margin and Padding Styles */
.sc-width-100p{width:100%;}
.sc-marginleft, .sc-notsphone-marginleft{margin-left:10px;} .sc-marginleft-small{margin-left:3px;} .sc-marginleft-xsmall{margin-left:7px;} .sc-marginleft-medium{margin-left:15px;} 
.sc-marginleft-3p{margin-left:3%;} .sc-marginleft-xlarge-neg{margin-left:-30px;}
.sc-marginright, .sc-notsphone-marginright{margin-right:10px;} .sc-marginright-small{margin-right:3px;} .sc-marginright-medium{margin-right:15px;}
.sc-marginright-xlarge-neg{margin-right:-30px;}
.sc-margintop{margin-top:10px;} .sc-margintop-small{margin-top:2px;} .sc-margintop-xsmall{margin-top:5px;} .sc-margintop-medium{margin-top:15px;} .sc-margintop-large{margin-top:20px;} 
.sc-sphone-margintop-medium{margin-top:0px;} .sc-margintop-xlarge{margin-top:40px;} 
.sc-margintop-3p{margin-top:3%;}
.sc-marginbottom{margin-bottom:10px;} .sc-marginbottom-small{margin-bottom:2px;} .sc-marginbottom-xsmall{margin-bottom:4px;} .sc-marginbottom-large{margin-bottom:20px;}
.sc-xsmallpadding, .sc-notsphone-xsmallpadding{padding-top:10px; padding-bottom:10px;}
.sc-smallpadding, .sc-notsphone-smallpadding{padding-top:20px; padding-bottom:20px;}
.sc-mediumpadding, .sc-notsphone-mediumpadding{padding-top:40px; padding-bottom:40px;}
.sc-largepadding{padding-top:60px; padding-bottom:60px;}
.sc-rounded-corners{border-radius:15px;}

/* UI Styles */
.sc-clickable, .sc-clickable2, .sc-href-no-underline{text-decoration:none;} .sc-clickable{color:rgb(45, 45, 45);} .sc-clickable:hover{color:rgb(0, 204, 194);}
.sc-clickable2:hover{color:#8d8d8d;}
.sc-shadow{box-shadow:0px 2px 5px 0px rgba(0,0,0,0.16), 0px 2px 10px 0px rgba(0,0,0,0.12)}
.sc-shadow-2{box-shadow:0px 4px 10px 0px rgba(0,0,0,0.22),0px 4px 20px 0px rgba(0,0,0,0.19)}
.sc-shadow-3{box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1), 0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);}
.sc-animate-from-top{position:relative; animation:animatefromtop 0.45s} @keyframes animatefromtop{from{top:-300px; opacity:0} to{top:0px; opacity:1}}

/* Text Styles */
.sc-left{text-align:left;}
.sc-center{text-align:center;}
.sc-right{text-align:right;}
.sc-justify{text-align:justify;}
.sc-medium{font-size:12px;}
.sc-xmedium{font-size:14px;}
.sc-xxmedium{font-size:14.5px;}
.sc-xx5medium{font-size:15px;}
.sc-xxxmedium{font-size:17px;}
.sc-large{font-size:20px;}
.sc-halfxlarge{font-size:22px;}
.sc-xlarge{font-size:24px;}
.sc-xxlarge{font-size:28px;}
.sc-xxxlarge{font-size:36px;}
.sc-lightbold{font-weight:600;}
.sc-italics{font-style:italic;}
.sc-strikethrough{text-decoration:line-through;}
.sc-letterspacing{letter-spacing:0.06em;} .sc-letterspacing-small{letter-spacing:0.04em;} .sc-letterspacing-xsmall{letter-spacing:0.02em;}
.sc-opacity{opacity:75%;}
.sc-hover-opacity{opacity:100%;} .sc-hover-opacity:hover{opacity:75%;}

/* Font and Color Styles */
.sc-retina{font-family:Retina Light, sans-serif;}
.sc-retinabook{font-family:Retina Book, sans-serif;}
.sc-retinamed{font-family:'Retina Medium', sans-serif;}
.sc-escrow{font-family:Escrow Condensed Bold;}
.sc-verdana{font-family:Verdana;}
.sc-trebuchet{font-family:Trebuchet MS;}
.sc-red{color:#ff2929;}
.sc-lightblue{color:#007dbb}
.sc-black{color:black;}
.sc-gray{color:rgb(78, 78, 78);}
.sc-lightgray{color:rgb(130, 130, 130);}
.sc-darkgray{color:rgb(45, 45, 45);}
.sc-white{color:white;}
.sc-white-background{background-color:#ececec;}
.sc-whiter-background{background-color:rgb(248, 248, 248);}
.sc-green-background{background-color:rgb(43, 173, 130);}

/* Stripe */
.sc-payment-form{width:100%; align-self:center; border-radius:15px; padding:40px; padding-bottom:50px;}
.sc-payment-button{background:#005475; color: rgb(220, 220, 220); font-family: Arial, sans-serif; border-radius: 0 0 4px 4px; border:0;
    padding:12px 16px; font-size:16px; font-weight:600; cursor:pointer; display:block; transition: all 0.2s ease; box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07); width:100%;}
.sc-payment-button:hover{filter:contrast(125%);}
.sc-payment-button:disabled{opacity:0.5; cursor:default;}
.sc-payment-result-message{line-height:18px; color:rgb(105, 115, 134); font-size:15px;}
.sc-hidden{display:none;}
#card-error{color:rgb(105, 115, 134); text-align:left; font-size:13px; line-height:17px; margin-top:12px;}
#card-element{border-radius:4px 4px 0 0; padding:12px; border:1px solid rgba(50, 50, 93, 0.1); height:44px; width:100%; background:white;}

.spinner, .spinner:before, .spinner:after{border-radius: 50%;}
.spinner{color:#ffffff; font-size:22px; text-indent:-99999px; margin:0px auto; position:relative; width:20px; height:20px; box-shadow:inset 0 0 0 2px;
    -webkit-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0);}
.spinner:before, .spinner:after {position: absolute; content: "";}
.spinner:before {width:10.4px; height:20.4px; background:#005475; border-radius:20.4px 0 0 20.4px; top:-0.2px; left:-0.2px;
    -webkit-transform-origin:10.4px 10.2px; transform-origin:10.4px 10.2px; -webkit-animation:loading 2s infinite ease 1.5s; animation:loading 2s infinite ease 1.5s;}
.spinner:after{width:10.4px; height:10.2px; background:#005475; border-radius:0 10.2px 10.2px 0; top:-0.1px; left:10.2px;
    -webkit-transform-origin:0px 10.2px; transform-origin:0px 10.2px; -webkit-animation:loading 2s infinite ease; animation:loading 2s infinite ease;}



/* Media Queries */
@media (min-width:1200px){
    /* large laptops and desktops */
    .sc-modal-content{margin:auto; width:900px} .sc-modal{padding-top:70px;} .sc-pricing-starter{padding:0% 18%;}
    .sc-pic-comparison{width:70%;}
    .sc-pic-team{margin-right:-5.2vw;}
}
@media (max-width:1200px){
    /* laptops */
    .sc-modal-content{margin:auto; width:900px} .sc-modal{padding-top:50px}
}
@media (max-width:993px){
    /* landscape tablets */
    .sc-intro, .sc-scroller{padding:0% 18%;} .sc-team{padding: 0% 15%;} .sc-pricing-starter{padding:0% 12%;}
    .sc-scroller{min-height:calc((3/9)*(68vw+60px));}
    
    .sc-split-top-tablet, .sc-split-one-third-tablet{display:block;} .sc-split-one-third{display:none;}
    .sc-split-top-tablet{padding:22px 30px; border-bottom: 1px solid #c0c0c0;}
    .sc-split-one-third-tablet{width:33.3%; float:left; padding:2vw 4vw; line-height:22px;}
    .sc-split-two-third{width:66.7%; float:left; padding:7px 30px 25px; border-right: 1px solid #c0c0c0; line-height:18px;}

    .sc-ul2{margin-top:0px;}

    .sc-pic-comparison{width:80%;}
    .sc-pic-team{margin-right:-6.5vw; width:40vw;}
    .sc-pic-vector{width:72%;}

    .sc-modal-content{margin:auto; width:700px}
}
@media (max-width:768px){
    /* portrait tablets and large phones */
    .sc-Navbar{padding:1.95vw 3%;}
    .sc-Navbar-left{display:none;}
    .sc-Navbar-left-mobile{display:block;}

    .sc-pricing-and-avail{padding:3em 18px;}
    .sc-split-sections{border: 1px solid #c0c0c0;}
    .sc-split-two-third-lphone, .sc-price-options-phone{display:block;}
    .sc-split-top-tablet, .sc-split-two-third{display:none;}
    .sc-split-one-third-tablet{width:100%; padding:18px 5vw 25px; line-height:22px;}
    .sc-split-two-third-lphone{width:100%; border-bottom: 1px solid #c0c0c0; padding:25px 30px;}
    .sc-price-options{display:none;} .sc-price-options-phone{display:block;}
    .sc-price-options-phone-padding{padding:20px 20px 20px; border: 1px solid #c0c0c0;}

    .sc-content{margin-top:calc(99px + 3.9vw);}
    .sc-intro, .sc-scroller{padding:0% 16%;} .sc-team{padding:0% 13%;} .sc-pricing-starter{padding:0% 8%;}
    .sc-scroller{min-height:calc((3/9)*(72vw+60px));}

    .sc-footer{padding:0% 7% 30px;}

    .sc-pic-logo{max-width:125px; height:85px;}
    .sc-pic-comparison{width:85%;}
    .sc-pic-team{margin-right:-7.5vw;}
    .sc-pic-vector{width:70%;}

    .sc-mobile-stack-button{width:100%; display:flex; min-height:calc(100vh - 99px - 3.9vw); position:fixed; padding-bottom:calc(99px + 3.9vw); 
        margin-top:calc(99px + 3.9vw); justify-content:center; flex-direction: column;}
    .sc-mobile-Navbar-elem{width:100%; padding:30px 0px 18px; margin: 12px 0px;}

    .sc-modal-content{margin:0 10px; width:auto} .sc-modal{padding-top:30px}

    .sc-radio-container{display:block; cursor:pointer; padding:12px 0px 10px 37px; width:100%; font-size:16px; position:relative;}
    .sc-radio-container input{display:none;}

    .sc-radio-button{position:absolute; top:12px; left:0px; height:25px; width:25px; background-color:white; border: 1px solid #c0c0c0; border-radius:50%;}
    .sc-radio-container:hover .sc-radio-button{background-color: #ccc;}
    .sc-radio-container input:checked ~ .sc-radio-button{background-color:#005475; transition:all 0.3s linear;}
    .sc-radio-button:after{content: ""; position:absolute; top:7px; left:7px; width:9px; height:9px; background:white; border-radius:50%; display:none;}
    .sc-radio-container input:checked ~ .sc-radio-button:after{display:block;}

    .sc-notsphone-mediumpadding{padding:25px;}

    .sc-payment-form{padding:40px 25px; padding-bottom:50px;}
}
@media (max-width:600px){
    /* small phones */
    .sc-intro, .sc-scroller, .sc-team{padding:0% 7%;} 
    .sc-pricing-starter{padding:0;} .sc-pricing-title{margin:0% 4%;}
    .sc-scroller{min-height:calc((3/9)*(94vw+60px));}

    .sc-pic-comparison{width:100%;}
    .sc-pic-team{margin-right:0px; width:100%; padding:0% 11%;}
    .sc-pic-vector{width:100%; padding-bottom:14px;}

    .sc-footer{padding:0% 5% 30px;}

    .sc-pricing-elem{padding:8px 20px;}
    .sc-pricing-referral{margin:8px 20px 16px;}
    .sc-button-pricing-checkout{padding:12px 20px 20px;}
    .sc-pricing-and-avail{padding:3em 12px;}

    .sc-button-submit-margin{margin-left:15px; margin-right:15px;}

    .sc-split-sections{display:none;} 
    .sc-split-sections-sphone{display:block; border-bottom:1px solid #c0c0c0;} .sc-split-sections-sphone-bottom{display:block;}
    .sc-price-options-phone-padding{padding:30px 25px 20px;}
    
    .sc-sphone-program-features-button{padding:15px 0px 4px 0px; border:none; width:100%; text-align:left; outline:none;}

    .sc-ul2{margin:15px 0px 0px; list-style:none; font-size:13px;}

    .sc-sphone-margintop-medium{margin-top:15px;}
    .sc-sphone-margins{margin-top:15px; margin-bottom:15px;}
    .sc-notsphone-marginleft{margin-left:3px;}
    .sc-notsphone-marginright{margin-right:3px;}
    .sc-notsphone-xsmallpadding{padding:0px;}
    .sc-notsphone-smallpadding{padding:7px;}
    .sc-notsphone-mediumpadding{padding:15px;}

    .sc-payment-form{padding:40px 15px; padding-bottom:50px;}
}


/* Key Frames */
@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}